<?xml version="1.0"?>

<robot name="$(arg macro_name)" xmlns:xacro="http://wiki.ros.org/xacro">

  <!-- xacro arguments -->
  <xacro:arg name="description_package" default="" />
  <xacro:arg name="description_macro_file" default="" />
  <xacro:arg name="macro_name" default="" />

  <xacro:arg name="rsi_listen_ip" default="127.0.0.1" />
  <xacro:arg name="rsi_listen_port" default="49152" />

  <xacro:arg name="prefix" default="" />

  <!-- Include robot description and invoke macro -->
  <xacro:property name="description_package" value="$(arg description_package)" />
  <xacro:include filename="$(find ${description_package})/urdf/$(arg description_macro_file)" />
  <xacro:call macro="$(arg macro_name)" prefix="$(arg prefix)" />

  <!-- Include ros2_control tag -->
  <xacro:include filename="$(find kuka_rsi_driver)/urdf/kuka_rsi_driver.ros2_control.xacro" />
  <xacro:kuka_rsi_driver_control
    name="$(arg macro_name)"
    prefix="$(arg prefix)"
    rsi_listen_ip="$(arg rsi_listen_ip)"
    rsi_listen_port="$(arg rsi_listen_port)"
  />


</robot>
